<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <script src="{{url_for('static', filename='scripts/modal.js')}}"></script>
    <title>CD Unit</title>
  </head>

  <body>
    <nav class="navbar container-fluid">
      <ul>
        <li><h4>CD UNIT</h4></li>
      </ul>
      <ul>
        <li><a href="/view-bundles">Bundles List</a></li>
        <li><a href="/view-colleges">College List</a></li>
        <li>
          <details class="dropdown">
            <summary>Settings</summary>
            <ul dir="rtl">
              <li><a href="/add-colleges">Add New College</a></li>
            </ul>
          </details>
        </li>
        <li>
          <div
            id="data-theme-toggle"
            onclick="toggleTheme()"
            aria-label="Change to light theme"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 32 32"
              fill="currentColor"
              class="theme-toggle moon"
            >
              <clipPath id="theme-toggle-cutout">
                <path d="M0-11h25a1 1 0 0017 13v30H0Z"></path>
              </clipPath>
              <g clip-path="url(#theme-toggle-cutout)">
                <circle cx="16" cy="16" r="8.4"></circle>
                <path
                  d="M18.3 3.2c0 1.3-1 2.3-2.3 2.3s-2.3-1-2.3-2.3S14.7.9 16 .9s2.3 1 2.3 2.3zm-4.6 25.6c0-1.3 1-2.3 2.3-2.3s2.3 1 2.3 2.3-1 2.3-2.3 2.3-2.3-1-2.3-2.3zm15.1-10.5c-1.3 0-2.3-1-2.3-2.3s1-2.3 2.3-2.3 2.3 1 2.3 2.3-1 2.3-2.3 2.3zM3.2 13.7c1.3 0 2.3 1 2.3 2.3s-1 2.3-2.3 2.3S.9 17.3.9 16s1-2.3 2.3-2.3zm5.8-7C9 7.9 7.9 9 6.7 9S4.4 8 4.4 6.7s1-2.3 2.3-2.3S9 5.4 9 6.7zm16.3 21c-1.3 0-2.3-1-2.3-2.3s1-2.3 2.3-2.3 2.3 1 2.3 2.3-1 2.3-2.3 2.3zm2.4-21c0 1.3-1 2.3-2.3 2.3S23 7.9 23 6.7s1-2.3 2.3-2.3 2.4 1 2.4 2.3zM6.7 23C8 23 9 24 9 25.3s-1 2.3-2.3 2.3-2.3-1-2.3-2.3 1-2.3 2.3-2.3z"
                ></path>
              </g>
            </svg>
          </div>
        </li>
      </ul>
    </nav>
    <main class="container">
      <h1>Add New College</h1>
      <article>
        <form name="college-entry-form">
          <label for="college_name"> College Name </label>
          <input
            name="college_name"
            placeholder="College Name"
            data-tooltip="Only Enter the name of the college excluding the place name from it."
            data-placement="bottom"
          />
          <div class="grid">
            <label for="place"
              >Place
              <input id="place" placeholder="Place" />
            </label>
            <label for="route_name"
              >Select Route
              <select name="route-select" required>
                <option selected disabled value="" style="display: none">
                  Select A Route
                </option>
                <option>Local I</option>
                <option>Local II</option>
                <option>MC I</option>
                <option>MC II</option>
                <option>NH I</option>
                <option>NH II</option>
                false
              </select>
            </label>
            <label for="center_code"
              >Center Code(If Provided)
              <input
                id="center_code"
                type="number"
                placeholder="Center Code"
                value="0"
              />
            </label>
          </div>
          <input
            type="submit"
            data-target="modal-duplicate"
            onclick="toggleModal(event)"
          />
        </form>
      </article>
    </main>

    <dialog id="modal-duplicate">
      <article>
        <header>
          <button
            aria-label="Close"
            rel="prev"
            data-target="modal-duplicate"
            onclick="toggleModal(event)"
          ></button>
          <h3>Warning</h3>
        </header>
        <h4>Similar Colleges Found!</h4>
        <ul>
          <li>Collge A</li>
          <li>Collge B</li>
          <li>Collge C</li>
        </ul>
        <footer>
          <button
            role="button"
            class="secondary"
            data-target="modal-duplicate"
            onclick="toggleModal(event)"
          >
            Skip</button
          ><button
            autofocus
            data-target="modal-duplicate"
            onclick="toggleModal(event)"
          >
            Add Anway
          </button>
        </footer>
      </article>
    </dialog>

    <dialog id="modal-confirm">
      <article>
        <header>
          <button
            aria-label="Close"
            rel="prev"
            data-target="modal-confirm"
            onclick="toggleModal(event)"
          ></button>
          <h3>Confirm your action!</h3>
        </header>
        <p>Are you sure you want to add this college to the database?</p>
        <footer>
          <button
            role="button"
            class="secondary"
            data-target="modal-confirm"
            onclick="toggleModal(event)"
          >
            Cancel</button
          ><button
            autofocus
            data-target="modal-confirm"
            onclick="toggleModal(event)"
          >
            Confirm
          </button>
        </footer>
      </article>
    </dialog>
  </body>
</html>
